<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>@ViewData["Title"]</h1>

    @{
        var cart = ViewData["Cart"] as TaskCart.Modal.Cart;
    }

    <h3>Nameofcart : @cart.CartName</h3>
    <h3>Typeofshopping : @cart.ShoppingType</h3>
    <h3>Typeofcart : @cart.CartType</h3>
    <h3>Id : @cart.id</h3>


</body>
</html>




