@model  EmptyAspProject.ViewModels.HomeDetailsViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>@Model.Title</h1>

    

    <h3>Name : @Model.Employee.name</h3>
    <h3>Email : @Model.Employee.email</h3>
    <h3>age : @Model.Employee.age</h3>
    <h3>Id : @Model.Employee.id</h3>
    

</body>
</html>

 


